.footer{
    // margin-top: 10.4rem;
    display: flex;

    &__1{
        margin-right: auto;
        @include respond(tab-break){
            margin-right: 0;
            text-align: center;
            flex: 1;
            margin-bottom: 5.4rem;
        }
    }
    
    &__2{
        display: flex;
        @include respond(phone-break){
            flex-direction: column;
            align-items: center;
        }
    }

    &__list{
        list-style: none;
        @include respond(phone-break){
            text-align: center;
        }
    }

    &__list:not(:last-child){
        margin-right: 18.0rem;
        @include respond(tab-break){
            margin-right: 13.5rem;
        }

        @include respond(phone-break){
            margin-right: 0;
            margin-bottom: 2.0rem;
        }
    }
    
    &__item:not(:last-child){
        margin-bottom: 2.9rem;
    }
    
    &__logo{
        width: 22.44rem; 
        height: 4.8rem;
        @include respond(tab-break){
            width: 100%;
            
            &>svg{
                width: 29.4rem;
                height: 6.3rem;
            }
        }
    }

    &__desc{
        text-transform: capitalize;
        font-size: 1.8rem;
        line-height: 2.8rem;
        width: 38.4rem;
        height: auto;

        @include respond(tab-break){
            width: 93%;
            margin: 0 auto;
        }
    }

    &__header{
        font-family: Bitter;
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    &__text{
        font-size: 1.8rem;
        text-transform: capitalize;
        line-height: 26%;
    }

    &__icons>*:not(:last-child){
        margin-right: 3.2rem;
    }

    &__icon{
        width: 3.2rem;
        height: auto;

        &--left{
            flex: 0 0 15%;
            margin-right: 1.9rem;
        }
    }

    &__address{
        display: flex;
        align-items: flex-start;
        width: 25.7rem;

        @include respond(tab-break){
            width: 31.3rem;
        }
    }

    @include respond(tab-break){
        flex-direction: column;
        align-items: center;
    }
}