.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 22.5rem; 
        height: 4.8rem;

        @include respond(tab-break){
            width: 17.2rem; 
            height: 3.7rem;
        }

        @include respond(phone-break){
            width: 12.0rem; 
            height: 2.5rem;
        }
        
    }

    &__menu{
        width: 4.6rem;
        height: 3.3rem;
        @include respond(tab-break){
            width: 3.5rem;
            height: 2.4rem;
        }
    }

    &__list{
        height: 100%;
        display: flex;
        align-items: center;

        &>*:not(:last-child){
            margin-right: 7.7rem;
        }
    }
}