//COLORS
$white: #fff;
$primary-red: #FF0035;
$black: #000;
$black-1: #121212;
$black-2: #252525;
$black-3: #343434;
$black-4: #19243d94;
$black-5: #19243d;
$black-6: #ffffff00;
$blue: #232A3F;
$blue-1: #38405F;
$blue-2: #232A3F;
$blue-3: #0E131F;
$grey: #F4F5F6;
$grey-1: #8B939C;
$grey-2: #BDBDBD;
$grey-3: #979797;
$grey-4: #868585;
$grey-5: #fafafa;
$grey-6: #4B4B4B;
$green: #92B6B1;
$green-1: #2EA539;
$pink: #ffd2dcd9;

