#login{
    display: flex;
    justify-content: center;
    margin-bottom: 14.3rem;
    position: relative;

    @include respond(tab-break){
        & .container{
            padding: 0;
        }
    }

    @include respond(phone-break){
        margin-bottom: 1rem;
    }
}

.login{

    &__text{
        font-size: 3.2rem;
        text-align: center;
        width: 73.1rem;
        margin: 0 auto;
        margin-bottom: 16.7rem;

        @include respond(tab-break){
            margin-bottom: 8.0rem;
            font-size: 4.27rem;
        }

        @include respond(phone-break){
            width: 55rem;
            line-height: 4.53rem;
            font-size: 3.2rem;
        }
    }

    &__main{
        display: flex;
        justify-content: space-between;

        @include respond(tab-break){
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    &__img{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 55.2rem;
        height: 52.8rem;

        @include respond(tab-break){
            position: relative;
            width: 43.1rem;
            height: 41.3rem;
        }

        @include respond(phone-break){
            width: 35.4rem;
            height: 33.9rem;
        }
    }

}